# In This Notebook

I'll use each available table to create features, and maybe I'll create some Plato's Cave Id to join things easier, but this is kind of a secondary objective.

Whenever joining tables, I'll add an prefix with a short name for the table to ease tracking of where data is coming from.

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:.6f}'.format

### Core Tables

In [3]:
lt = pd.read_csv('files/processed_labeled_transactions.csv')
lt.head()

,operation_id,request_id,account_id,device_id,counterparty_document,operation_type,amount,balance,requested_at,processed_at,is_fraud
0,37e105f1-003f-465b-8179-e7705b12a24d,c1820b88-ac54-444f-b9a0-70de30124d95,a7b4f041-ef6a-4e17-baf9-cd471ef0f484,ef1756b6-354c-4ea4-b175-4eba835b60a5,38e6f7c9-e935-4c7c-8915-ef923a5ca914,cash_out_type_1,0.000099,0.000167,2018-11-21 15:41:23,2018-11-21 15:41:23,NaN
1,72d66c19-130b-4d51-8ed7-e3b6c0b65034,9400a9f4-6ab8-40cd-b806-1569b693a88e,ed310df0-6834-4899-811e-5faf13b2a99c,ef1756b6-354c-4ea4-b175-4eba835b60a5,9bd89feb-e952-47c1-bbf5-d4c17b36d852,cash_out_type_3,0.000013,0.000533,NaN,2018-10-22 23:43:38,NaN
2,31abd386-09f7-4f18-9b01-d2682e3c2c65,80adf85b-56cc-4730-903d-e63c75ae839a,ed310df0-6834-4899-811e-5faf13b2a99c,ef1756b6-354c-4ea4-b175-4eba835b60a5,9bd89feb-e952-47c1-bbf5-d4c17b36d852,cash_out_type_3,0.000016,0.000347,2018-11-19 16:11:57,2018-11-19 16:12:00,NaN
3,27543733-e8a8-4593-88fb-921e205a6e0c,6edfea5c-4125-49fa-bbe7-b39433f6e49a,ed310df0-6834-4899-811e-5faf13b2a99c,ef1756b6-354c-4ea4-b175-4eba835b60a5,e573e2d3-39af-4f71-97df-bf400e854a8a,cash_out_type_3,0.000001,0.000572,NaN,2018-10-29 15:20:49,NaN
4,6aff8f2d-0730-4f94-846b-14c059550ab2,88ddff46-6714-4a47-9407-a7d54996dde1,ed310df0-6834-4899-811e-5faf13b2a99c,ef1756b6-354c-4ea4-b175-4eba835b60a5,88f94e8a-0145-489f-9f1d-d4755456e965,cash_out_type_3,0.000045,0.000346,NaN,2018-10-31 12:06:08,NaN

In [4]:
ut = pd.read_csv('files/processed_unlabeled_transactions.csv')
ut.head()

/tmp/ipykernel_11055/633477064.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv('files/processed_unlabeled_transactions.csv')

,operation_id,request_id,account_id,device_id,counterparty_document,operation_type,amount,requested_at,processed_at
0,f9eb1bfc-dd3e-4494-ad3a-5728059a334b,8ba7fb9c-a8b9-4595-8235-561012daa551,d24e533e-d54f-4ac5-874f-097f968c8b23,NaN,b20ca420-36b0-429f-85a5-7ffac69e82a1,cash_out_type_4,0.000001,2018-07-15 00:00:25.000000,2018-07-15 00:00:25.000000
1,98b084a3-353a-4ea4-8cb6-3a2b48f24d9b,f7f3b6cc-5690-4716-bc36-8a9e61ab60b0,d24e533e-d54f-4ac5-874f-097f968c8b23,NaN,b20ca420-36b0-429f-85a5-7ffac69e82a1,cash_out_type_4,0.000000,2018-07-15 00:20:32.000000,2018-07-15 00:20:32.000000
2,b04d0b3b-620f-4031-8598-14862d8385a4,c7120482-a055-4dc0-915c-ee467afa0d6b,d24e533e-d54f-4ac5-874f-097f968c8b23,NaN,b20ca420-36b0-429f-85a5-7ffac69e82a1,cash_out_type_4,0.000001,2018-09-01 23:51:38.000000,2018-09-01 23:51:38.000000
3,aa253da4-d86f-45fe-a30c-1e25aa752344,c97a2208-a1cc-472b-a8ff-4dd2dd54fd97,d24e533e-d54f-4ac5-874f-097f968c8b23,NaN,b20ca420-36b0-429f-85a5-7ffac69e82a1,cash_out_type_4,0.000001,2018-09-13 00:50:27.000000,2018-09-13 00:50:27.000000
4,ffed5732-c135-495f-9b43-52f4dbdd0fab,75588166-0282-401a-ace4-d42d2b33f75d,d24e533e-d54f-4ac5-874f-097f968c8b23,NaN,b20ca420-36b0-429f-85a5-7ffac69e82a1,cash_out_type_4,0.000000,2018-09-22 23:50:38.000000,2018-09-22 23:50:38.000000

Since I don't intend to use anything related to the device_id (never seem nulls on the unlabeled table), the operation_type (categories are much different from one table to the other) and the requested_at (labeled have missings in this column and unlabeled does not), lets already drop these columns. Balance exists also in only one so we'll remove it

In [5]:
dropme_coretables = [
    'device_id',
    'operation_type',
    'requested_at',
]

In [6]:
lt.drop(columns=dropme_coretables+['balance'], inplace=True)
ut.drop(columns=dropme_coretables, inplace=True)

In [7]:
lt.shape

(940935, 7)

In [8]:
ut.shape

(5087054, 6)

### Accounts

In [9]:
ac = pd.read_csv('files/processed_accounts.csv')
ac.head()

,id,owner_id,owner_document,owner_type,inserted_at
0,ac8a1faa-3748-4ef7-b140-8fe818cdc974,d2e3e3b7-e98d-4ef3-8a51-83db807b9a94,5e998c51-53cc-48f0-aef4-45ec12a466be,user,2017-03-16 16:33:43.603803
1,b2ccbb65-19b0-43fb-891f-faf785d00ade,e01a38b9-5e4c-43fb-9aef-d866054b00bd,4ca9177f-35cc-4067-9d0b-af621aaa2e65,user,2017-03-25 14:01:25.919929
2,c890a24f-f539-4dfe-a3d3-fe2c11c0aed6,c66561a4-66cc-4e2c-8379-3fd060b0e1ba,7df16b0b-0cda-40b8-91b5-5ed4d371a834,user,2017-03-25 14:04:11.917901
3,678269b6-7b71-48a2-82fb-19018432abf9,49a50a56-3f7a-435d-80a1-6e459c3948e8,d74146d2-af1c-4396-86f7-c98ccc177411,user,2017-03-27 13:59:43.513024
4,c6f2982a-4c2a-4dc2-b237-2c683235c3d8,596160cd-c41d-4689-bd4d-a055db788931,23d532c1-855b-42c2-a011-2e64b7078d4a,user,2017-03-27 14:00:58.316963

In [10]:
ac.rename(columns={i: 'ac_'+i for i in ac.columns}, inplace=True)

Things seems to be an id-id join, nothing much to think here, so lets try and see if things keep the same size.

In [11]:
lt.shape, ut.shape

((940935, 7), (5087054, 6))

In [12]:
lt = lt.merge(ac, left_on='account_id', right_on='ac_id', how='left')
ut = ut.merge(ac, left_on='account_id', right_on='ac_id', how='left')

In [13]:
# checking for post-event information

(lt.ac_inserted_at > lt.processed_at).mean(), (ut.ac_inserted_at > ut.processed_at).mean()

(0.0, 0.0)

In [14]:
lt.shape, ut.shape

((940935, 12), (5087054, 11))

In [15]:
lt.drop(columns=['ac_id'], inplace=True)
ut.drop(columns=['ac_id'], inplace=True)

In [16]:
lt.isna().mean()

operation_id            0.000180
request_id              0.000000
account_id              0.000000
counterparty_document   0.000000
amount                  0.000000
processed_at            0.000000
is_fraud                0.998369
ac_owner_id             0.000000
ac_owner_document       0.000000
ac_owner_type           0.000000
ac_inserted_at          0.000000
dtype: float64

In [17]:
ut.isna().mean()

operation_id            0.000000
request_id              0.675480
account_id              0.000000
counterparty_document   0.000000
amount                  0.000070
processed_at            0.000000
ac_owner_id             0.000000
ac_owner_document       0.000000
ac_owner_type           0.000000
ac_inserted_at          0.000000
dtype: float64

Ok, things worked out. Lets go to the next table.

### Users Organizations

Even though this may seem out of place when reading on order, by the time I got to this table in alphabetical order, I realized maybe the way of joining things was supposed to be:

- If ac_owner_type = organization, coalesce(ac_owner_id, uo_organization_id) = other_organization_id
- If ac_owner_type = user, coalesce(ac_owner_id, uo_user_id) = other_user_id

This will seem out of place but the option was training two models, one with only organization data and other with only user data, and the existence of a dictionary between the two of them made me think that maybe this was not supposed to happen. In the Organizations Metadata joining, you'll understand a little better how I came to this conclusion, so I ask to put a pin on that at the moment.

In [18]:
uo = pd.read_csv('files/processed_users_organizations.csv')
uo.head()

                                user_id                       organization_id
0  475c1048-860c-49e7-b94a-eb478eb78cf6  e4ef0830-64e3-4cae-bc14-a718849b60b7
1  769d83d0-1438-49d2-bf03-8b0e3584bdfe  2a15fe66-2d99-4b70-a11e-cdcb74163b65
2  8a1384f7-902e-433f-83a4-3705ba19fc4d  f4981be9-1c19-40c2-af09-4c429194ed0d
3  052ecf70-7e5d-4b49-912c-415ec718c1c9  c0508778-02cf-4ab4-a1e5-0d8a0c02a6b4
4  b058e64d-6449-4ddd-993a-4cb88d2fe97a  59f73def-619c-4d7a-bf66-b635be35b6e9

In [19]:
uo.groupby('user_id').organization_id.count().value_counts(normalize=True)

1    0.990238
2    0.007862
3    0.001163
4    0.000277
5    0.000240
6    0.000074
7    0.000037
8    0.000037
37   0.000018
17   0.000018
15   0.000018
10   0.000018
Name: organization_id, dtype: float64

In [20]:
uo.groupby('organization_id').user_id.count().value_counts()

1    54951
2        1
5        1
Name: user_id, dtype: int64

So the best thing to do would be always joining many-many and aggregating. Since it is less than 1% of the customers that have more organizations than users, I'll just create a flag that indicates it and choose an arbitrary organization_id. I know this is not the best solution but I would have to refactor much of the code at the moment.

In [21]:
uo = uo.groupby('user_id').agg(
    organization_id=pd.NamedAgg('organization_id', 'max'),
    flag_many_orgs=pd.NamedAgg('organization_id', 'count'),
).reset_index()

uo = uo.groupby('organization_id').agg(
    user_id=pd.NamedAgg('user_id', 'max'),
    flag_many_orgs=pd.NamedAgg('flag_many_orgs', 'max'),
).reset_index()

In [22]:
uo.user_id.nunique() == uo.shape[0] == uo.organization_id.nunique()

True

In [23]:
uo.rename(columns={i:'uo_'+i for i in uo.columns}, inplace=True)

In [24]:
uo_orgs = uo.copy(deep=True)
uo_orgs['ac_owner_type'] = 'organization'

In [25]:
lt = lt.merge(uo_orgs, left_on=['ac_owner_id', 'ac_owner_type'], right_on=['uo_organization_id', 'ac_owner_type'], how='left').drop(columns='uo_organization_id')
ut = ut.merge(uo_orgs, left_on=['ac_owner_id', 'ac_owner_type'], right_on=['uo_organization_id', 'ac_owner_type'], how='left').drop(columns='uo_organization_id')

In [26]:
uo_user = uo.copy(deep=True)
uo_user['ac_owner_type'] = 'user'

In [27]:
uo_user.rename(columns={'uo_user_id': 'uo_user_id2'}, inplace=True)

In [28]:
lt = lt.merge(uo_user, left_on=['ac_owner_id', 'ac_owner_type'], right_on=['uo_user_id2', 'ac_owner_type'], how='left').drop(columns='uo_user_id2')
ut = ut.merge(uo_user, left_on=['ac_owner_id', 'ac_owner_type'], right_on=['uo_user_id2', 'ac_owner_type'], how='left').drop(columns='uo_user_id2')

In [29]:
lt['uo_flag_many_orgs'] = lt['uo_flag_many_orgs_x'].combine_first(lt['uo_flag_many_orgs_y'])
ut['uo_flag_many_orgs'] = ut['uo_flag_many_orgs_x'].combine_first(ut['uo_flag_many_orgs_y'])

lt.drop(columns=['uo_flag_many_orgs_x', 'uo_flag_many_orgs_y'], inplace=True)
ut.drop(columns=['uo_flag_many_orgs_x', 'uo_flag_many_orgs_y'], inplace=True)

In [30]:
lt.isna().mean()

operation_id            0.000180
request_id              0.000000
account_id              0.000000
counterparty_document   0.000000
amount                  0.000000
processed_at            0.000000
is_fraud                0.998369
ac_owner_id             0.000000
ac_owner_document       0.000000
ac_owner_type           0.000000
ac_inserted_at          0.000000
uo_user_id              0.132886
uo_organization_id      0.992598
uo_flag_many_orgs       0.125484
dtype: float64

In [31]:
ut.isna().mean()

operation_id            0.000000
request_id              0.675480
account_id              0.000000
counterparty_document   0.000000
amount                  0.000070
processed_at            0.000000
ac_owner_id             0.000000
ac_owner_document       0.000000
ac_owner_type           0.000000
ac_inserted_at          0.000000
uo_user_id              0.123367
uo_organization_id      0.992419
uo_flag_many_orgs       0.115786
dtype: float64

In [32]:
lt.ac_owner_type.value_counts(normalize=True)

organization   0.882427
user           0.117573
Name: ac_owner_type, dtype: float64

The "going back" step, from an user recovering the organization, produced little to no result, but we'll keep it that way since organizations produced a lot of user_ids. So, finally:

In [33]:
lt['ac_user_id'] = lt.apply(lambda x: x['ac_owner_id'] if x['ac_owner_type'] == 'user' else None, axis=1)
ut['ac_user_id'] = ut.apply(lambda x: x['ac_owner_id'] if x['ac_owner_type'] == 'user' else None, axis=1)

lt['ac_organization_id'] = lt.apply(lambda x: x['ac_owner_id'] if x['ac_owner_type'] == 'organization' else None, axis=1)
ut['ac_organization_id'] = ut.apply(lambda x: x['ac_owner_id'] if x['ac_owner_type'] == 'organization' else None, axis=1)

In [34]:
lt['treated_user_id'] = lt['ac_user_id'].combine_first(lt['uo_user_id'])
lt['treated_organization_id'] = lt['ac_organization_id'].combine_first(lt['uo_organization_id'])

ut['treated_user_id'] = ut['ac_user_id'].combine_first(ut['uo_user_id'])
ut['treated_organization_id'] = ut['ac_organization_id'].combine_first(ut['uo_organization_id'])

In [35]:
ut.isna().mean()

operation_id              0.000000
request_id                0.675480
account_id                0.000000
counterparty_document     0.000000
amount                    0.000070
processed_at              0.000000
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.123367
uo_organization_id        0.992419
uo_flag_many_orgs         0.115786
ac_user_id                0.892636
ac_organization_id        0.107364
treated_user_id           0.016003
treated_organization_id   0.099783
dtype: float64

In [36]:
lt.isna().mean()

operation_id              0.000180
request_id                0.000000
account_id                0.000000
counterparty_document     0.000000
amount                    0.000000
processed_at              0.000000
is_fraud                  0.998369
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.132886
uo_organization_id        0.992598
uo_flag_many_orgs         0.125484
ac_user_id                0.882427
ac_organization_id        0.117573
treated_user_id           0.015312
treated_organization_id   0.110171
dtype: float64

The organization_id joins will not be very improved, by the user joins will.

### Organizations Metadata

This is the table where we need to divide in two, since it has different behaviours for partners and organizations

In [37]:
om = pd.read_csv('files/processed_organizations_metadata.csv')
om.head()

,id,organization_id,type,value,inserted_at,updated_at
0,8a442911-65db-42a3-8063-2e8e2ddab984,417b2d7c-8a26-483b-920a-cc283095d044,user_is_partner,"{""mei"": false, ""partner"": true, ""user_id"": ""f3...",2018-11-25 02:31:05.472505,2018-11-25 02:31:05.472505
1,fa84c1d4-9362-472f-8ef9-aa14768deb22,417b2d7c-8a26-483b-920a-cc283095d044,organization_type,ME,2018-11-25 02:31:05.518456,2018-11-25 02:31:05.518456
2,089a96b0-8e31-4303-9b8f-e8eabd126b51,f4745c03-2491-49f1-953b-461fc7f72cf5,user_is_partner,"{""mei"": true, ""partner"": true, ""user_id"": ""dcd...",2018-11-25 02:36:04.694632,2018-11-25 02:36:04.694632
3,ebe81aa1-7076-47a9-a929-0555167b6d35,f4745c03-2491-49f1-953b-461fc7f72cf5,organization_type,ME,2018-11-25 02:36:04.605196,2018-11-25 02:36:04.605196
4,b301ec68-9042-4a74-88f4-82b3256d0137,b208f531-9beb-44ae-991c-effca11da1e5,user_is_partner,"{""mei"": true, ""partner"": true, ""user_id"": ""5c9...",2018-11-25 02:41:44.953192,2018-11-25 02:41:44.953192

In [38]:
om.shape

(292433, 6)

In [39]:
omup = om[om.type == 'user_is_partner'].copy(deep=True)
omot = om[om.type == 'organization_type'].copy(deep=True)

#### OMUP

In [40]:
omup.isna().mean()

id                0.000000
organization_id   0.000000
type              0.000000
value             0.000000
inserted_at       0.000000
updated_at        0.000000
dtype: float64

In [41]:
omup.tail()

,id,organization_id,type,value,inserted_at,updated_at
96386,d20777aa-afff-40da-bce4-c6d39d8a2166,7bfb1775-f8f2-4b7b-a914-8d7c8fae540e,user_is_partner,"{""mei"": false, ""eireli"": false, ""partner"": tru...",2018-12-17 02:25:42.195539,2018-12-17 02:25:42.195539
96388,f2dbfb54-7541-46c2-8379-253fa2314379,6903ae42-8332-4cfb-b893-3f07b4e546dc,user_is_partner,"{""mei"": false, ""eireli"": true, ""partner"": true...",2018-12-17 02:42:06.787676,2018-12-17 02:42:06.787676
96390,d9f60603-14f2-49c4-988c-77b45d619779,2c166447-0bc3-47e1-8feb-5526d39137e7,user_is_partner,"{""mei"": false, ""eireli"": false, ""partner"": fal...",2018-12-17 02:44:30.201175,2018-12-17 02:44:30.201175
96392,4a5f2f1a-3e59-41ff-936f-7a4e76364b23,c9f5096b-b0e0-4b93-b4ef-af6781365500,user_is_partner,"{""mei"": true, ""eireli"": false, ""partner"": true...",2018-12-17 02:49:15.313589,2018-12-17 02:49:15.313589
96394,2e41df9f-5f22-4528-b247-7532d78bb8fc,9973e837-f9ac-43e0-a0ee-6ef07d131b95,user_is_partner,"{""mei"": true, ""eireli"": false, ""partner"": true...",2018-12-17 02:50:19.871628,2018-12-17 02:50:19.871628

In [42]:
exploded = pd.DataFrame([eval(i.replace('false', 'False').replace('true', 'True')) for i in omup.value.tolist()])

In [43]:
omup.shape

(48198, 6)

In [44]:
exploded.shape

(48198, 4)

In [45]:
omup = pd.concat([omup.reset_index().drop(columns=['index']), exploded], axis=1).drop(columns=['value'])

In [46]:
omup.isna().mean()

id                0.000000
organization_id   0.000000
type              0.000000
inserted_at       0.000000
updated_at        0.000000
mei               0.000000
partner           0.000000
user_id           0.000000
eireli            0.948629
dtype: float64

In [47]:
omup.rename(columns={i: 'omup_'+i for i in omup.columns}, inplace=True)

In [48]:
omup.head()

,omup_id,omup_organization_id,omup_type,omup_inserted_at,omup_updated_at,omup_mei,omup_partner,omup_user_id,omup_eireli
0,8a442911-65db-42a3-8063-2e8e2ddab984,417b2d7c-8a26-483b-920a-cc283095d044,user_is_partner,2018-11-25 02:31:05.472505,2018-11-25 02:31:05.472505,False,True,f30ed2d8-4eda-4f80-ac87-1e0d85100093,NaN
1,089a96b0-8e31-4303-9b8f-e8eabd126b51,f4745c03-2491-49f1-953b-461fc7f72cf5,user_is_partner,2018-11-25 02:36:04.694632,2018-11-25 02:36:04.694632,True,True,dcdb8388-532b-4ca1-ad0e-c0d56d4b5536,NaN
2,b301ec68-9042-4a74-88f4-82b3256d0137,b208f531-9beb-44ae-991c-effca11da1e5,user_is_partner,2018-11-25 02:41:44.953192,2018-11-25 02:41:44.953192,True,True,5c911699-2ceb-4195-a50d-0cf913e96f5c,NaN
3,dc6c6614-fba7-4f73-afbb-71201482c673,02b9eb4f-e25e-4ac7-a4c7-a3e0cef53968,user_is_partner,2018-11-25 02:48:19.369816,2018-11-25 02:48:19.369816,False,True,2403e5c3-56eb-49aa-a8ac-4c0bea23ea6a,NaN
4,705e3f23-013b-4f09-a012-a6a881ab17c2,c05a9e40-a8e7-4ebf-a72c-06c00f1a8f89,user_is_partner,2018-11-25 02:55:30.619981,2018-11-25 02:55:30.619981,True,True,7be671b7-a648-40f3-8dd0-c40b83e9f9fa,NaN

In [49]:
ut.head()

,operation_id,request_id,account_id,counterparty_document,amount,processed_at,ac_owner_id,ac_owner_document,ac_owner_type,ac_inserted_at,uo_user_id,uo_organization_id,uo_flag_many_orgs,ac_user_id,ac_organization_id,treated_user_id,treated_organization_id
0,f9eb1bfc-dd3e-4494-ad3a-5728059a334b,8ba7fb9c-a8b9-4595-8235-561012daa551,d24e533e-d54f-4ac5-874f-097f968c8b23,b20ca420-36b0-429f-85a5-7ffac69e82a1,0.000001,2018-07-15 00:00:25.000000,117f2cec-83c9-4392-a78d-d1e073bdf7c6,b084e320-2020-4804-ba98-ec532d096c19,organization,2018-04-27 18:46:06.110555,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,NaN,1.000000,None,117f2cec-83c9-4392-a78d-d1e073bdf7c6,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,117f2cec-83c9-4392-a78d-d1e073bdf7c6
1,98b084a3-353a-4ea4-8cb6-3a2b48f24d9b,f7f3b6cc-5690-4716-bc36-8a9e61ab60b0,d24e533e-d54f-4ac5-874f-097f968c8b23,b20ca420-36b0-429f-85a5-7ffac69e82a1,0.000000,2018-07-15 00:20:32.000000,117f2cec-83c9-4392-a78d-d1e073bdf7c6,b084e320-2020-4804-ba98-ec532d096c19,organization,2018-04-27 18:46:06.110555,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,NaN,1.000000,None,117f2cec-83c9-4392-a78d-d1e073bdf7c6,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,117f2cec-83c9-4392-a78d-d1e073bdf7c6
2,b04d0b3b-620f-4031-8598-14862d8385a4,c7120482-a055-4dc0-915c-ee467afa0d6b,d24e533e-d54f-4ac5-874f-097f968c8b23,b20ca420-36b0-429f-85a5-7ffac69e82a1,0.000001,2018-09-01 23:51:38.000000,117f2cec-83c9-4392-a78d-d1e073bdf7c6,b084e320-2020-4804-ba98-ec532d096c19,organization,2018-04-27 18:46:06.110555,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,NaN,1.000000,None,117f2cec-83c9-4392-a78d-d1e073bdf7c6,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,117f2cec-83c9-4392-a78d-d1e073bdf7c6
3,aa253da4-d86f-45fe-a30c-1e25aa752344,c97a2208-a1cc-472b-a8ff-4dd2dd54fd97,d24e533e-d54f-4ac5-874f-097f968c8b23,b20ca420-36b0-429f-85a5-7ffac69e82a1,0.000001,2018-09-13 00:50:27.000000,117f2cec-83c9-4392-a78d-d1e073bdf7c6,b084e320-2020-4804-ba98-ec532d096c19,organization,2018-04-27 18:46:06.110555,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,NaN,1.000000,None,117f2cec-83c9-4392-a78d-d1e073bdf7c6,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,117f2cec-83c9-4392-a78d-d1e073bdf7c6
4,ffed5732-c135-495f-9b43-52f4dbdd0fab,75588166-0282-401a-ace4-d42d2b33f75d,d24e533e-d54f-4ac5-874f-097f968c8b23,b20ca420-36b0-429f-85a5-7ffac69e82a1,0.000000,2018-09-22 23:50:38.000000,117f2cec-83c9-4392-a78d-d1e073bdf7c6,b084e320-2020-4804-ba98-ec532d096c19,organization,2018-04-27 18:46:06.110555,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,NaN,1.000000,None,117f2cec-83c9-4392-a78d-d1e073bdf7c6,f6938791-4f7a-4cbb-81c3-d2511f8d08d0,117f2cec-83c9-4392-a78d-d1e073bdf7c6

From what I understood from the relations of the table (See the attached relational_schema.png where I try to infer the relational schema of these tables), I'll need the organizations table to link this to the core tables by the means of the accounts table. Lets already read it and make the joins.

In [50]:
og = pd.read_csv('files/processed_organizations.csv')
og.head()

,id,document,inserted_at
0,4f680da2-7b7c-4d48-9151-6f49437b4c27,9487f858-03b5-4eb4-afda-3e472643ef32,2018-11-01 17:40:15.194651
1,2a98430a-4908-4f3d-9c0b-bba3ca1bdd2a,a7899558-55ca-4c09-a535-a91abfb19c3c,2017-08-09 13:36:41.156395
2,3dc6651c-7968-456b-ae00-791da8ae0571,b5f5e3fc-a1cc-4d8b-a667-1e05b0d92376,2018-08-23 15:14:47.894131
3,4bd05bbe-ebd6-483e-a249-7c9204f88eeb,58b11bce-88c4-4279-afc3-338a4dac5348,2018-07-24 12:38:20.251984
4,1a69bc7e-a978-48c0-bad5-484c260c4254,1d8bb9cf-8f6b-46d4-b73b-96f4f176b9c1,2018-05-01 21:10:01.128368

In [51]:
og.id.nunique() == og.shape[0]

True

In [52]:
og.rename(columns={i: 'og_'+i for i in og.columns}, inplace=True)

omup.head()

In [53]:
omup.shape

(48198, 9)

In [54]:
omup_by_og = omup.merge(og, left_on='omup_organization_id', right_on='og_id', how='left')

In [55]:
omup_by_og.shape

(48198, 12)

In [56]:
omup_by_og.isna().mean()

omup_id                0.000000
omup_organization_id   0.000000
omup_type              0.000000
omup_inserted_at       0.000000
omup_updated_at        0.000000
omup_mei               0.000000
omup_partner           0.000000
omup_user_id           0.000000
omup_eireli            0.948629
og_id                  0.912175
og_document            0.912175
og_inserted_at         0.912175
dtype: float64

This doesn't seems right. There is a path that can be walked, joining users by user_id and organizations by documents_id. I'll try to make these joins and see if I get a better match. If this does not work, I'll use the owner_id on the accounts.

In [57]:
us = pd.read_csv('files/processed_users.csv')
us.head()

,id,document,inserted_at
0,659945ba-eb5b-4112-b338-8284aec5d99b,96e7c1d9-8482-4bd6-abe7-90ad0b9854eb,2018-04-24 19:40:00.914691
1,7d8795b3-e8ea-4e01-8f5e-0151a41e7021,9f11c509-9971-43d2-8112-752f6537a44d,2018-11-05 16:34:40.898502
2,75f5fe7d-05a8-4c1c-bfad-0ea8ad901200,953f9416-0b9a-48e9-bd4a-39f8fcd18fe5,2018-04-26 18:22:38.902776
3,c8fc220a-bda9-4174-a633-0515fdff92c2,4888e307-afb7-4c75-8f8c-0e2d7fc6880c,2018-08-29 19:20:57.890656
4,0bc08c41-5d93-4740-9d1f-e188fbdf7931,4200c844-f81b-4b3a-9c19-10d9d35c26ef,2018-05-28 02:50:12.368302

In [58]:
us.rename(columns={i: 'us_'+i for i in us.columns}, inplace=True)

In [59]:
omup.shape

(48198, 9)

In [60]:
omup.merge(us, left_on='omup_user_id', right_on='us_id', how='left').isna().mean()

omup_id                0.000000
omup_organization_id   0.000000
omup_type              0.000000
omup_inserted_at       0.000000
omup_updated_at        0.000000
omup_mei               0.000000
omup_partner           0.000000
omup_user_id           0.000000
omup_eireli            0.948629
us_id                  0.902091
us_document            0.902091
us_inserted_at         0.902091
dtype: float64

Nope. Last try:

In [61]:
lt.isna().mean()

operation_id              0.000180
request_id                0.000000
account_id                0.000000
counterparty_document     0.000000
amount                    0.000000
processed_at              0.000000
is_fraud                  0.998369
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.132886
uo_organization_id        0.992598
uo_flag_many_orgs         0.125484
ac_user_id                0.882427
ac_organization_id        0.117573
treated_user_id           0.015312
treated_organization_id   0.110171
dtype: float64

In [62]:
omup.omup_organization_id.nunique()

48198

In [63]:
omup.shape

(48198, 9)

In [64]:
lt.shape

(940935, 18)

In [65]:
lt.merge(omup, left_on=['treated_organization_id'], right_on=['omup_organization_id'], how='left').isna().mean()

operation_id              0.000180
request_id                0.000000
account_id                0.000000
counterparty_document     0.000000
amount                    0.000000
processed_at              0.000000
is_fraud                  0.998369
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.132886
uo_organization_id        0.992598
uo_flag_many_orgs         0.125484
ac_user_id                0.882427
ac_organization_id        0.117573
treated_user_id           0.015312
treated_organization_id   0.110171
omup_id                   0.973283
omup_organization_id      0.973283
omup_type                 0.973283
omup_inserted_at          0.973283
omup_updated_at           0.973283
omup_mei                  0.973283
omup_partner              0.973283
omup_user_id              0.973283
omup_eireli               0.999922
dtype: float64

This is probably the best join I'll make, so I'll keep this strategy. "Eireli" reeks of bad data so I'll not give too much of a though about it.

In [66]:
lt.shape, ut.shape

((940935, 18), (5087054, 17))

In [67]:
lt2 = lt.merge(omup, left_on=['treated_organization_id'], right_on=['omup_organization_id'], how='left')
ut2 = ut.merge(omup, left_on=['treated_organization_id'], right_on=['omup_organization_id'], how='left')

In [68]:
lt2.shape, ut2.shape

((940935, 27), (5087054, 26))

In [69]:
ut2.isna().mean()

operation_id              0.000000
request_id                0.675480
account_id                0.000000
counterparty_document     0.000000
amount                    0.000070
processed_at              0.000000
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.123367
uo_organization_id        0.992419
uo_flag_many_orgs         0.115786
ac_user_id                0.892636
ac_organization_id        0.107364
treated_user_id           0.016003
treated_organization_id   0.099783
omup_id                   0.998902
omup_organization_id      0.998902
omup_type                 0.998902
omup_inserted_at          0.998902
omup_updated_at           0.998902
omup_mei                  0.998902
omup_partner              0.998902
omup_user_id              0.998902
omup_eireli               0.999953
dtype: float64

In [70]:
ut2.ac_owner_type.value_counts()

organization    4540887
user             546167
Name: ac_owner_type, dtype: int64

I really don't know what else could be done here, so I'll not use this subset of the organizations_metadata table.

### OMOT

In [71]:
omot.head()

,id,organization_id,type,value,inserted_at,updated_at
1,fa84c1d4-9362-472f-8ef9-aa14768deb22,417b2d7c-8a26-483b-920a-cc283095d044,organization_type,ME,2018-11-25 02:31:05.518456,2018-11-25 02:31:05.518456
3,ebe81aa1-7076-47a9-a929-0555167b6d35,f4745c03-2491-49f1-953b-461fc7f72cf5,organization_type,ME,2018-11-25 02:36:04.605196,2018-11-25 02:36:04.605196
5,b0c366c5-2901-4f68-8bb4-92a612fe9350,b208f531-9beb-44ae-991c-effca11da1e5,organization_type,ME,2018-11-25 02:41:44.862583,2018-11-25 02:41:44.862583
7,2c7da962-0aee-4603-b1ab-d8b0c81f2283,02b9eb4f-e25e-4ac7-a4c7-a3e0cef53968,organization_type,ME,2018-11-25 02:48:19.247844,2018-11-25 02:48:19.247844
9,f6922f73-302a-40dc-9456-35a635287759,c05a9e40-a8e7-4ebf-a72c-06c00f1a8f89,organization_type,ME,2018-11-25 02:55:30.487795,2018-11-25 02:55:30.487795

In [72]:
omot.rename(columns={i:'omot_'+i for i in omot.columns}, inplace=True)

In [73]:
lt.shape, ut.shape

((940935, 18), (5087054, 17))

In [74]:
lt2 = lt.merge(omot, left_on=['treated_organization_id'], right_on=['omot_organization_id'], how='left')
ut2 = ut.merge(omot, left_on=['treated_organization_id'], right_on=['omot_organization_id'], how='left')

In [75]:
lt2.shape, ut2.shape

((940959, 24), (5087284, 23))

In [76]:
940959-940935, 5087284-5087054

(24, 230)

In [77]:
lt2.isna().mean()

operation_id              0.000180
request_id                0.000000
account_id                0.000000
counterparty_document     0.000000
amount                    0.000000
processed_at              0.000000
is_fraud                  0.998369
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.132883
uo_organization_id        0.992598
uo_flag_many_orgs         0.125480
ac_user_id                0.882430
ac_organization_id        0.117570
treated_user_id           0.015312
treated_organization_id   0.110168
omot_id                   0.158613
omot_organization_id      0.158613
omot_type                 0.158613
omot_value                0.218513
omot_inserted_at          0.158613
omot_updated_at           0.158613
dtype: float64

In [78]:
ut2.isna().mean()

operation_id              0.000000
request_id                0.675473
account_id                0.000000
counterparty_document     0.000000
amount                    0.000070
processed_at              0.000000
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.123362
uo_organization_id        0.992420
uo_flag_many_orgs         0.115781
ac_user_id                0.892641
ac_organization_id        0.107359
treated_user_id           0.016002
treated_organization_id   0.099779
omot_id                   0.155371
omot_organization_id      0.155371
omot_type                 0.155371
omot_value                0.180916
omot_inserted_at          0.155371
omot_updated_at           0.155371
dtype: float64

Somethings got duplicated, so I'll aggregate by organization_id before the join. Since the volume of duplicates is not big, I'll not focus on creating much different metrics here.

In [79]:
omot.head()

,omot_id,omot_organization_id,omot_type,omot_value,omot_inserted_at,omot_updated_at
1,fa84c1d4-9362-472f-8ef9-aa14768deb22,417b2d7c-8a26-483b-920a-cc283095d044,organization_type,ME,2018-11-25 02:31:05.518456,2018-11-25 02:31:05.518456
3,ebe81aa1-7076-47a9-a929-0555167b6d35,f4745c03-2491-49f1-953b-461fc7f72cf5,organization_type,ME,2018-11-25 02:36:04.605196,2018-11-25 02:36:04.605196
5,b0c366c5-2901-4f68-8bb4-92a612fe9350,b208f531-9beb-44ae-991c-effca11da1e5,organization_type,ME,2018-11-25 02:41:44.862583,2018-11-25 02:41:44.862583
7,2c7da962-0aee-4603-b1ab-d8b0c81f2283,02b9eb4f-e25e-4ac7-a4c7-a3e0cef53968,organization_type,ME,2018-11-25 02:48:19.247844,2018-11-25 02:48:19.247844
9,f6922f73-302a-40dc-9456-35a635287759,c05a9e40-a8e7-4ebf-a72c-06c00f1a8f89,organization_type,ME,2018-11-25 02:55:30.487795,2018-11-25 02:55:30.487795

In [80]:
omot.omot_id.nunique()

244235

In [81]:
omot.omot_organization_id.nunique()

244233

In [82]:
omot2 = omot.groupby(['omot_organization_id']).agg(
    omot_value=pd.NamedAgg('omot_value', 'max'),
    omot_inserted_at=pd.NamedAgg('omot_inserted_at', 'max'),
    omot_updated_at=pd.NamedAgg('omot_updated_at', 'max'),
    omot_counter=pd.NamedAgg('omot_id', 'count')
).reset_index()

In [83]:
omot.head()

,omot_id,omot_organization_id,omot_type,omot_value,omot_inserted_at,omot_updated_at
1,fa84c1d4-9362-472f-8ef9-aa14768deb22,417b2d7c-8a26-483b-920a-cc283095d044,organization_type,ME,2018-11-25 02:31:05.518456,2018-11-25 02:31:05.518456
3,ebe81aa1-7076-47a9-a929-0555167b6d35,f4745c03-2491-49f1-953b-461fc7f72cf5,organization_type,ME,2018-11-25 02:36:04.605196,2018-11-25 02:36:04.605196
5,b0c366c5-2901-4f68-8bb4-92a612fe9350,b208f531-9beb-44ae-991c-effca11da1e5,organization_type,ME,2018-11-25 02:41:44.862583,2018-11-25 02:41:44.862583
7,2c7da962-0aee-4603-b1ab-d8b0c81f2283,02b9eb4f-e25e-4ac7-a4c7-a3e0cef53968,organization_type,ME,2018-11-25 02:48:19.247844,2018-11-25 02:48:19.247844
9,f6922f73-302a-40dc-9456-35a635287759,c05a9e40-a8e7-4ebf-a72c-06c00f1a8f89,organization_type,ME,2018-11-25 02:55:30.487795,2018-11-25 02:55:30.487795

In [84]:
(omot2['omot_counter'] != 1).sum()

1

Yeah, a single point is not relevant, I'll drop this feature.

In [85]:
omot2.drop(columns=['omot_counter'], inplace=True)

In [86]:
lt.shape, ut.shape

((940935, 18), (5087054, 17))

In [87]:
lt2 = lt.merge(omot2, left_on=['ac_organization_id'], right_on=['omot_organization_id'], how='left')
ut2 = ut.merge(omot2, left_on=['ac_organization_id'], right_on=['omot_organization_id'], how='left')

In [88]:
# Since this is not a log table, we'll have to use the updated_date to remove post-event information

omot_cols = ['omot_id', 'omot_organization_id', 'omot_type', 'omot_value', 'omot_inserted_at', 'omot_updated_at']

lt2.loc[pd.to_datetime(lt2['omot_updated_at']) > pd.to_datetime(lt2['processed_at']), omot_cols] = None
ut2.loc[pd.to_datetime(ut2['omot_updated_at']) > pd.to_datetime(ut2['processed_at']), omot_cols] = None

lt2.loc[pd.to_datetime(lt2['omot_inserted_at']) > pd.to_datetime(lt2['processed_at']), omot_cols] = None
ut2.loc[pd.to_datetime(ut2['omot_inserted_at']) > pd.to_datetime(ut2['processed_at']), omot_cols] = None

In [89]:
lt2.shape, ut2.shape

((940935, 24), (5087054, 23))

In [90]:
lt2.isna().mean()

operation_id              0.000180
request_id                0.000000
account_id                0.000000
counterparty_document     0.000000
amount                    0.000000
processed_at              0.000000
is_fraud                  0.998369
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.132886
uo_organization_id        0.992598
uo_flag_many_orgs         0.125484
ac_user_id                0.882427
ac_organization_id        0.117573
treated_user_id           0.015312
treated_organization_id   0.110171
omot_organization_id      0.226773
omot_value                0.285591
omot_inserted_at          0.226773
omot_updated_at           0.226773
omot_id                   1.000000
omot_type                 1.000000
dtype: float64

In [91]:
ut2.isna().mean()

operation_id              0.000000
request_id                0.675480
account_id                0.000000
counterparty_document     0.000000
amount                    0.000070
processed_at              0.000000
ac_owner_id               0.000000
ac_owner_document         0.000000
ac_owner_type             0.000000
ac_inserted_at            0.000000
uo_user_id                0.123367
uo_organization_id        0.992419
uo_flag_many_orgs         0.115786
ac_user_id                0.892636
ac_organization_id        0.107364
treated_user_id           0.016003
treated_organization_id   0.099783
omot_organization_id      0.404880
omot_value                0.429475
omot_inserted_at          0.404880
omot_updated_at           0.404880
omot_id                   1.000000
omot_type                 1.000000
dtype: float64

Null means are similar, I'll consider this done and go to the next table.

### Organizations

In [92]:
og = pd.read_csv('files/processed_organizations.csv')
og.head()

,id,document,inserted_at
0,4f680da2-7b7c-4d48-9151-6f49437b4c27,9487f858-03b5-4eb4-afda-3e472643ef32,2018-11-01 17:40:15.194651
1,2a98430a-4908-4f3d-9c0b-bba3ca1bdd2a,a7899558-55ca-4c09-a535-a91abfb19c3c,2017-08-09 13:36:41.156395
2,3dc6651c-7968-456b-ae00-791da8ae0571,b5f5e3fc-a1cc-4d8b-a667-1e05b0d92376,2018-08-23 15:14:47.894131
3,4bd05bbe-ebd6-483e-a249-7c9204f88eeb,58b11bce-88c4-4279-afc3-338a4dac5348,2018-07-24 12:38:20.251984
4,1a69bc7e-a978-48c0-bad5-484c260c4254,1d8bb9cf-8f6b-46d4-b73b-96f4f176b9c1,2018-05-01 21:10:01.128368

In [93]:
og.rename(columns={i: 'og_'+i for i in og.columns}, inplace=True)

In [94]:
og.shape[0] == og.og_id.nunique()

True

In [95]:
lt2.shape, ut2.shape

((940935, 24), (5087054, 23))

In [96]:
lt3 = lt2.merge(og, left_on=['treated_organization_id'], right_on=['og_id',], how='left')
ut3 = ut2.merge(og, left_on=['treated_organization_id'], right_on=['og_id',], how='left')

In [97]:
og_cols = ['og_id', 'og_document', 'og_inserted_at']

lt3.loc[pd.to_datetime(lt3['og_inserted_at']) > pd.to_datetime(lt3['processed_at']), og_cols] = None
ut3.loc[pd.to_datetime(ut3['og_inserted_at']) > pd.to_datetime(ut3['processed_at']), og_cols] = None

In [98]:
lt3.shape, ut3.shape

((940935, 27), (5087054, 26))

### Users Metadata

In [99]:
um = pd.read_csv('files/processed_users_metadata.csv')
um.head()

,id,user_id,type,value,inserted_at,updated_at
0,5e820e59-2793-4aa8-be6e-95d547872de7,7ac5f4a4-e46f-4d1a-b530-50d1930d9b95,age_range,40-59,2018-05-24 12:32:21.406260,2018-05-24 12:32:21.406260
1,862263f6-e6a0-4d7f-b14d-7112bdea27a5,7ac5f4a4-e46f-4d1a-b530-50d1930d9b95,number_of_selfies_sent,5,2018-05-24 12:32:21.618808,2018-05-24 12:32:21.618808
2,12333e49-de34-4cc0-a1f2-1bf05d7da186,0e836b54-9f64-4814-b328-7e4ac41ac5ba,age_range,>= 60,2018-08-25 01:41:57.876757,2018-08-25 01:41:57.876757
3,b4751efa-3407-4074-8bf0-10a6e4235729,0e836b54-9f64-4814-b328-7e4ac41ac5ba,number_of_selfies_sent,5,2018-08-25 01:41:58.054672,2018-08-25 01:41:58.054672
4,4fac990f-b252-4621-b47c-2481f5030cec,074a93a5-4dfb-4dd1-b099-cc83fcd1e617,age_range,25-39,2018-05-24 20:46:14.904279,2018-05-24 20:46:14.904279

In [100]:
um.shape

(525479, 6)

In [101]:
um.user_id.nunique()

262821

In [102]:
um.rename(columns={i:'um_'+i for i in um.columns}, inplace=True)

In [103]:
um.groupby(['um_user_id']).um_type.count().value_counts()

2    262647
1       169
3         4
4         1
Name: um_type, dtype: int64

Mostly 2 entries by user_id, so we'll just assume it. I see no reason to think that having only one of these entries represents something

In [104]:
## I know this could be done easier with a few auxiliar columns but it is a solution that does not escale. For multiple possible types, this would work better.

um_dates = um.groupby(['um_user_id']).agg(
    um_inserted_at=pd.NamedAgg('um_inserted_at', 'max'),
    um_updated_at=pd.NamedAgg('um_updated_at', 'max'),
).reset_index()

um_cols = um.pivot_table(index=['um_user_id'], columns='um_type', values='um_value', aggfunc='max').reset_index()

um2 = um_dates.merge(um_cols, on='um_user_id', how='left')

In [105]:
um2.shape

(262821, 5)

In [106]:
262647+169+4+1

262821

In [107]:
um2.isna().mean()

um_user_id               0.000000
um_inserted_at           0.000000
um_updated_at            0.000000
age_range                0.000194
number_of_selfies_sent   0.000449
dtype: float64

In [108]:
lt3.shape, ut3.shape

((940935, 27), (5087054, 26))

In [109]:
lt4 = lt3.merge(um2, left_on=['treated_user_id'], right_on=['um_user_id'], how='left')
ut4 = ut3.merge(um2, left_on=['treated_user_id'], right_on=['um_user_id'], how='left')

In [110]:
um_cols = ['um_user_id', 'um_inserted_at', 'um_updated_at', 'age_range', 'number_of_selfies']

lt4.loc[pd.to_datetime(lt4['um_inserted_at']) > pd.to_datetime(lt4['processed_at']), um_cols] = None
ut4.loc[pd.to_datetime(ut4['um_inserted_at']) > pd.to_datetime(ut4['processed_at']), um_cols] = None

lt4.loc[pd.to_datetime(lt4['um_updated_at']) > pd.to_datetime(lt4['processed_at']), um_cols] = None
ut4.loc[pd.to_datetime(ut4['um_updated_at']) > pd.to_datetime(ut4['processed_at']), um_cols] = None

In [111]:
lt4.shape, ut4.shape

((940935, 33), (5087054, 32))

In [112]:
lt4.head()

,operation_id,request_id,account_id,counterparty_document,amount,processed_at,is_fraud,ac_owner_id,ac_owner_document,ac_owner_type,...,omot_type,og_id,og_document,og_inserted_at,um_user_id,um_inserted_at,um_updated_at,age_range,number_of_selfies_sent,number_of_selfies
0,37e105f1-003f-465b-8179-e7705b12a24d,c1820b88-ac54-444f-b9a0-70de30124d95,a7b4f041-ef6a-4e17-baf9-cd471ef0f484,38e6f7c9-e935-4c7c-8915-ef923a5ca914,0.000099,2018-11-21 15:41:23,NaN,fc417977-7cfc-49c1-9d5a-2f4f0bccb1d0,0e7ac07d-87bd-46bc-975f-d29216e5bacd,organization,...,NaN,fc417977-7cfc-49c1-9d5a-2f4f0bccb1d0,0e7ac07d-87bd-46bc-975f-d29216e5bacd,2018-11-11 11:42:17.070072,None,None,None,None,5,NaN
1,72d66c19-130b-4d51-8ed7-e3b6c0b65034,9400a9f4-6ab8-40cd-b806-1569b693a88e,ed310df0-6834-4899-811e-5faf13b2a99c,9bd89feb-e952-47c1-bbf5-d4c17b36d852,0.000013,2018-10-22 23:43:38,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,organization,...,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,2018-07-02 20:08:17.093421,a8339829-8163-49dd-a881-c3f5ca407a94,2018-07-02 20:15:32.540356,2018-07-02 20:15:32.540356,>= 60,5,NaN
2,31abd386-09f7-4f18-9b01-d2682e3c2c65,80adf85b-56cc-4730-903d-e63c75ae839a,ed310df0-6834-4899-811e-5faf13b2a99c,9bd89feb-e952-47c1-bbf5-d4c17b36d852,0.000016,2018-11-19 16:12:00,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,organization,...,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,2018-07-02 20:08:17.093421,a8339829-8163-49dd-a881-c3f5ca407a94,2018-07-02 20:15:32.540356,2018-07-02 20:15:32.540356,>= 60,5,NaN
3,27543733-e8a8-4593-88fb-921e205a6e0c,6edfea5c-4125-49fa-bbe7-b39433f6e49a,ed310df0-6834-4899-811e-5faf13b2a99c,e573e2d3-39af-4f71-97df-bf400e854a8a,0.000001,2018-10-29 15:20:49,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,organization,...,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,2018-07-02 20:08:17.093421,a8339829-8163-49dd-a881-c3f5ca407a94,2018-07-02 20:15:32.540356,2018-07-02 20:15:32.540356,>= 60,5,NaN
4,6aff8f2d-0730-4f94-846b-14c059550ab2,88ddff46-6714-4a47-9407-a7d54996dde1,ed310df0-6834-4899-811e-5faf13b2a99c,88f94e8a-0145-489f-9f1d-d4755456e965,0.000045,2018-10-31 12:06:08,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,organization,...,NaN,754f7e12-e612-4d72-aad4-b1c32849ddf8,91e5290a-e5a9-4b74-88e5-1ad98877c1ce,2018-07-02 20:08:17.093421,a8339829-8163-49dd-a881-c3f5ca407a94,2018-07-02 20:15:32.540356,2018-07-02 20:15:32.540356,>= 60,5,NaN

### Users

In [113]:
us = pd.read_csv('files/processed_users.csv')
us.head()

,id,document,inserted_at
0,659945ba-eb5b-4112-b338-8284aec5d99b,96e7c1d9-8482-4bd6-abe7-90ad0b9854eb,2018-04-24 19:40:00.914691
1,7d8795b3-e8ea-4e01-8f5e-0151a41e7021,9f11c509-9971-43d2-8112-752f6537a44d,2018-11-05 16:34:40.898502
2,75f5fe7d-05a8-4c1c-bfad-0ea8ad901200,953f9416-0b9a-48e9-bd4a-39f8fcd18fe5,2018-04-26 18:22:38.902776
3,c8fc220a-bda9-4174-a633-0515fdff92c2,4888e307-afb7-4c75-8f8c-0e2d7fc6880c,2018-08-29 19:20:57.890656
4,0bc08c41-5d93-4740-9d1f-e188fbdf7931,4200c844-f81b-4b3a-9c19-10d9d35c26ef,2018-05-28 02:50:12.368302

In [114]:
us.rename(columns={i: 'us_'+i for i in us.columns}, inplace=True)

In [115]:
lt4.shape, ut4.shape

((940935, 33), (5087054, 32))

In [116]:
lt5 = lt4.merge(us, left_on=['treated_user_id'], right_on=['us_id'], how='left')
ut5 = ut4.merge(us, left_on=['treated_user_id'], right_on=['us_id'], how='left')

In [117]:
us_cols = ['us_id', 'us_document', 'us_inserted_at']

lt5.loc[pd.to_datetime(lt5['us_inserted_at']) > pd.to_datetime(lt5['processed_at']), us_cols] = None
ut5.loc[pd.to_datetime(ut5['us_inserted_at']) > pd.to_datetime(ut5['processed_at']), us_cols] = None

In [118]:
lt5.shape, ut5.shape

((940935, 36), (5087054, 35))

In [119]:
lt5.columns

Index(['operation_id', 'request_id', 'account_id', 'counterparty_document',
       'amount', 'processed_at', 'is_fraud', 'ac_owner_id',
       'ac_owner_document', 'ac_owner_type', 'ac_inserted_at', 'uo_user_id',
       'uo_organization_id', 'uo_flag_many_orgs', 'ac_user_id',
       'ac_organization_id', 'treated_user_id', 'treated_organization_id',
       'omot_organization_id', 'omot_value', 'omot_inserted_at',
       'omot_updated_at', 'omot_id', 'omot_type', 'og_id', 'og_document',
       'og_inserted_at', 'um_user_id', 'um_inserted_at', 'um_updated_at',
       'age_range', 'number_of_selfies_sent', 'number_of_selfies', 'us_id',
       'us_document', 'us_inserted_at'],
      dtype='object')

### Saving the Final Dataframe

Here I'll choose only the columns I intend to use. Throught the notebooks I explain why these decisions where taken, but mostly I keep only what can be used, ignore ID's that are not the user_id (which I'll use to create books) and remove anything that have a very different behaviour between the labeled and unlabeled transaction tables.

In [120]:
keep_cols = [
    'treated_user_id', 
    'amount', 
    'processed_at', 
    'ac_owner_type',
    'ac_inserted_at', 
    'uo_flag_many_orgs',  
    'omot_value', 
    'omot_inserted_at',
    'omot_updated_at', 
    'og_inserted_at', 
    'um_inserted_at', 
    'um_updated_at',
    'age_range', 
    'number_of_selfies_sent', 
    'us_inserted_at',
]

In [121]:
lt5[keep_cols+['is_fraud']].to_csv('files/labeled_transactions_enriched.csv', sep=';', index=False)
ut5[keep_cols].to_csv('files/unlabeled_transactions_enriched.csv', sep=';', index=False)